@import '../../styles-var/devui-var.scss';

.#{$b-prefix}-breadcrumb {
  display: flex;
  align-items: center;

  .#{$b-prefix}-breadcrumb__item:last-child {
    .#{$b-prefix}-breadcrumb__separator {
      display: none;
    }
  }
}
