@import '../../styles-var/devui-var.scss';

$b-btn-padding: var(--b-btn-padding, 0 20px);
$b-btn-common-bg: var(--b-btn-common-bg, $b-base-bg);
$b-btn-common-bg-hover: var(--b-btn-common-bg-hover, $b-base-bg);
$b-btn-common-bg-active: var(--b-btn-common-bg-active, $b-base-bg);
$b-btn-common-color-hover: var(--b-btn-common-color-hover, $b-brand-active);
$b-btn-common-color-active: var(--b-btn-common-color-active, $b-brand-active);
$b-btn-common-border-color: var(--b-btn-common-border-color, $b-line);
$b-btn-common-border-color-hover: var(--b-btn-common-border-color-hover, $b-form-control-line-active);
$b-btn-common-border-color-active: var(--b-btn-common-border-color-active, $b-form-control-line-active);
$b-btn-sm-padding: var(--b-btn-sm-padding, 0 16px);
$b-btn-lg-padding: var(--b-btn-lg-padding, 0 24px);

@mixin btn-solid-style {
  color: $b-brand-active;
  border-color: $b-form-control-line-active;
}

.#{$b-prefix}-button {
  padding: $b-btn-padding;
  font-size: $b-font-size-md;
  line-height: $b-line-height-base;
  border-radius: $b-border-radius;
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--is-loading {
    pointer-events: none;
  }

  &--solid {
    color: $b-light-text;
    min-width: 64px;

    i {
      color: $b-light-text;
    }

    &--secondary {
      color: $b-text;
      border-color: $b-btn-common-border-color;
      background-color: $b-btn-common-bg;

      &:hover {
        color: $b-btn-common-color-hover;
        border-color: $b-btn-common-border-color-hover;
        background-color: $b-btn-common-bg-hover;
      }

      &:focus {
        color: $b-btn-common-color-active;
        border-color: $b-btn-common-border-color-active;
        background-color: $b-btn-common-bg-hover;
      }

      &:active {
        color: $b-btn-common-color-active;
        border-color: $b-btn-common-border-color-active;
        background-color: $b-btn-common-bg-hover;
      }

      &:disabled {
        opacity: 0.8;
      }
    }

    &--primary {
      background-color: $b-primary;

      &:hover {
        background-color: $b-primary-hover;
      }

      &:focus {
        background-color: $b-primary-hover;
      }

      &:active {
        background-color: $b-primary-active;
      }

      &:disabled {
        color: $b-light-text;
        background: $b-primary-disabled;
        border: none;
      }
    }

    &--danger {
      background-color: $b-contrast;

      &:hover {
        background-color: $b-contrast-hover;
      }

      &:focus {
        background-color: $b-contrast-hover;
      }

      &:active {
        background-color: $b-contrast-active;
      }

      &:disabled {
        background-color: $b-contrast-disabled;
      }
    }
  }

  &--outline {
    background-color: $b-block;
    border-style: solid;

    i {
      color: $b-text;
    }

    &--secondary {
      color: $b-text;
      border-color: $b-line;

      &:hover,
      &:focus,
      &:active {
        color: $b-brand-active;
        border-color: $b-form-control-line-active;

        i {
          color: $b-brand-active;
          border-color: $b-form-control-line-active;
        }
      }

      &:disabled {
        color: $b-disabled-text;
        border-color: $b-disabled-line;
        background-color: $b-disabled-bg;

        i {
          color: $b-disabled-text;
        }
      }
    }

    &--primary {
      color: $b-brand-active;
      border-color: $b-form-control-line-active;

      &:hover,
      &:focus,
      &:active {
        color: $b-brand-active-focus;
        border-color: $b-form-control-line-active-hover;

        i {
          color: $b-brand-active-focus;
          border-color: $b-form-control-line-active-hover;
        }
      }

      &:disabled {
        opacity: 0.8;
        color: $b-brand-active;
        border-color: $b-form-control-line-active;

        i {
          color: $b-brand-active;
        }
      }
    }

    &--danger {
      color: $b-contrast;
      border-color: $b-contrast;

      i {
        color: $b-contrast;
      }

      &:hover,
      &:focus,
      &:active,
      &:disabled {
        opacity: 0.8;
      }
    }
  }

  &--text {
    padding: 0;

    &--secondary {
      color: $b-text;

      &:hover {
        color: $b-list-item-hover-text;
      }

      &:focus {
        color: $b-list-item-hover-text;
      }

      &:active {
        color: $b-list-item-hover-text;
      }

      &:disabled {
        color: $b-disabled-text;
      }
    }

    &--primary {
      color: $b-brand-active;

      &:hover {
        color: $b-link-active;
      }

      &:focus {
        color: $b-brand-active-focus;
      }

      &:active {
        color: $b-brand-active-focus;
      }

      &:disabled {
        opacity: 0.8;
      }
    }

    &--danger {
      color: $b-contrast;

      &:hover,
      &:focus,
      &:active,
      &:disabled {
        opacity: 0.8;
      }
    }
  }

  &--sm {
    padding: $b-btn-sm-padding;
    height: $b-size-sm;
    font-size: $b-font-size-sm;
    min-width: 56px;
  }

  &--lg {
    padding: $b-btn-lg-padding;
    height: $b-size-lg;
    font-size: $b-font-size-lg;
    min-width: 72px;
  }

  &.#{$b-prefix}-button__icon:not(.#{$b-prefix}-button--solid) {
    &:hover,
    &:focus {
      border: 1px solid $b-list-item-hover-bg;
      background-color: $b-list-item-hover-bg;
    }

    &:disabled {
      background-color: $b-disabled-bg;
    }
  }

  &:not(:disabled) {
    &.#{$b-prefix}-button--text {
      &.#{$b-prefix}-button__icon-wrap {
        color: $b-text;

        .#{$b-prefix}-button__icon-fix {
          color: $b-text-weak;
        }

        &:hover {
          color: $b-list-item-hover-text;

          .#{$b-prefix}-button__icon-fix {
            color: $b-icon-fill-active;
          }

          .button-content {
            color: $b-brand;
          }
        }
      }
    }
  }

  &--circle {
    border-radius: 100%;
  }

  &--round {
    border-radius: 20px;
  }
}

.#{$b-prefix}-loading {
  .#{$b-prefix}-loading-default-spinner {
    div {
      background-color: $b-text;
    }
  }
}

.#{$b-prefix}-button {
  transition:
    background-color $b-animation-duration-slow $b-animation-ease-in-out-smooth,
    border-color $b-animation-duration-slow $b-animation-ease-in-out-smooth,
    color $b-animation-duration-slow $b-animation-ease-in-out-smooth;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-style: solid;

  &.#{$b-prefix}-button__icon {
    padding: 8px;
    line-height: 1em;
    min-width: unset;

    &:not(.#{$b-prefix}-button--circle) {
      border: 1px solid transparent;
    }

    &.#{$b-prefix}-button--sm {
      padding: 4px;
      min-width: 24px;
    }

    &.#{$b-prefix}-button--lg {
      .icon {
        font-size: $b-font-size-icon;
      }

      min-width: 32px;
    }

    &.#{$b-prefix}-button--circle {
      width: $b-size-md;

      &.#{$b-prefix}-button--sm {
        width: $b-size-sm;
      }

      &.#{$b-prefix}-button--lg {
        width: $b-size-lg;
      }
    }
  }

  &:not(.#{$b-prefix}-button__icon) {
    .icon-fix {
      font-size: $b-font-size-icon;
    }
  }
}

.#{$b-prefix}-button__icon-fix {
  position: relative;
  font-size: $b-font-size;
}

.button-content {
  display: inline-block;
  position: relative;
}

.clear-right-5 {
  margin-right: 5px;
}

.loading-icon__container {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;

  .button-icon-loading {
    animation: rotating 1.5s linear infinite;
  }
}

@keyframes rotating {
  0% { transform: rotate(0); }

  100% { transform: rotate(180deg); }
}
