@import '../../styles-var/devui-var.scss';

.#{$b-prefix}-textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 8px;
  color: var(--b-text, #252b3a);
  vertical-align: middle;
  outline: none;
  border: 1px solid $b-form-control-line;
  border-radius: $b-border-radius;
  background: $b-form-control-bg;
  transition: border-color 0.3s $b-animation-ease-in-out-smooth;

  &:not(.#{$b-prefix}-textarea--error):not(.#{$b-prefix}-textarea--disabled):not(.#{$b-prefix}-textarea--focus):hover {
    border-color: $b-form-control-line-hover;
  }

  &--focus:not(.#{$b-prefix}-textarea--error) {
    border-color: $b-form-control-line-active;
  }

  &--disabled {
    border-color: $b-disabled-line;
    background-color: $b-disabled-bg;
    color: $b-disabled-text;
    cursor: not-allowed;

    &:hover {
      border-color: $b-disabled-line;
    }

    .#{$b-prefix}-textarea__inner {
      color: $b-disabled-text;
      cursor: not-allowed;
    }
  }

  &--error {
    border-color: $b-danger-line;
    background-color: $b-danger-bg;
  }

  &__show-count {
    text-align: right;
    color: inherit;
    white-space: nowrap;
    pointer-events: none;
    font-size: $b-font-size;
  }

  &--feedback {
    padding-right: 28px;
  }
}
