$b-menu-item-margin: 10px;

// Menu

// color

$b-menu-item: var(--b-menu-item);
$b-menu-item-sub: var(--b-menu-item-sub);
$b-menu-item-disabled: var(--b-menu-disabled);
$b-menu-item-select: var(--b-menu-item-hover);
$b-menu-item-hover: var(--b-menu-item-hover);

$b-menu-item-selectBar: var(--b-primary-hover, #5e7ce0);
$b-menu-active-parent: var(--b-icon-fill-active);
$b-menu-bg: var(--b-global-bg-normal);
$b-menu-bg-level: var(--b-global-bg);

@import '../../styles-var/devui-var.scss';
@import './styles/clear.scss';
@import './styles/horizontal.scss';
@import './styles/vertical.scss';
@import './styles/public.scss';
