@import '../../styles-var/devui-var.scss';

.#{$b-prefix}-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  color: $b-text;
  box-sizing: border-box;
  cursor: pointer;
  transition:
    color $b-animation-duration-fast $b-animation-ease-in-out-smooth,
    background-color $b-animation-duration-fast $b-animation-ease-in-out-smooth;

  &:hover {
    color: $b-list-item-hover-text;
    background-color: $b-list-item-hover-bg;
  }

  &:active {
    color: $b-list-item-active-text;
    background-color: $b-list-item-active-bg;
  }
}
