@import '../../styles-var/devui-var.scss';

.#{$b-prefix}-list {
  padding-bottom: 4px;
  border-radius: $b-border-radius;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: $b-connected-overlay-bg;
  outline: none;
}
