@import '../../styles-var/devui-var.scss';

.#{$b-prefix}-status {
  line-height: 20px;
  height: 20px;
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
  }
}

.#{$b-prefix}-status.#{$b-prefix}-status__bg {
  &--success {
    &::before {
      background-color: $b-success;
    }
  }

  &--error {
    &::before {
      background-color: $b-danger;
    }
  }

  &--warning {
    &::before {
      background-color: $b-warning;
    }
  }

  &--initial {
    &::before {
      background-color: $b-initial;
    }
  }

  &--waiting {
    &::before {
      background-color: $b-waiting;
    }
  }

  &--running {
    &::before {
      background-color: $b-info;
    }
  }

  &--invalid {
    &::before {
      background-color: $b-dividing-line;
    }
  }
}
