@import '../../../styles-var/devui-var.scss';

.#{$b-prefix}-flexible-overlay {
  position: fixed;
  border-radius: $b-border-radius;
  background-color: $b-connected-overlay-bg;
  box-shadow: $b-shadow-length-connected-overlay $b-shadow;
  z-index: 1000;

  &__arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: inherit;
  }
}
