@import '../../styles-var/devui-var.scss';

.#{$b-prefix}-input {
  width: 100%;
  height: $b-size-md;
  font-size: $b-font-size;

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid $b-form-control-line;
    border-radius: $b-border-radius;
    background-color: $b-form-control-bg;
    transition: border-color 0.3s $b-animation-ease-in-out-smooth;
    height: 100%;

    &:not(.#{$b-prefix}-input--error):not(.#{$b-prefix}-input--disabled):not(.#{$b-prefix}-input--focus):hover {
      border-color: $b-form-control-line-hover;
    }
  }

  &--focus:not(.#{$b-prefix}-input--error) {
    border-color: $b-form-control-line-active;
  }

  &--disabled {
    color: $b-disabled-text;
    border-color: $b-disabled-line;
    background-color: $b-disabled-bg;
    cursor: not-allowed;

    &:hover {
      border-color: $b-disabled-line;
    }

    .#{$b-prefix}-input__inner {
      color: $b-disabled-text;
      cursor: not-allowed;
    }
  }

  &--error {
    border-color: $b-danger-line;
    background-color: $b-danger-bg;
  }

  &--sm {
    height: $b-size-sm;
    font-size: $b-font-size-sm;
  }

  &--lg {
    height: $b-size-lg;
    font-size: $b-font-size-lg;
  }

  &--feedback {
    padding-right: 28px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    color: $b-text;
    font-size: inherit;
    padding: 4px 0;
    border: none;
    background: none;
    outline: none;
    box-sizing: border-box;
  }

  &--prepend {
    .#{$b-prefix}-input__wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &--append {
    .#{$b-prefix}-input__wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &-slot {
    display: inline-flex;
    width: 100%;
    align-items: stretch;

    &__prepend,
    &__append {
      color: var(--b-text);
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      padding: 0 20px;
      white-space: nowrap;
      border: 1px solid $b-form-control-line;
      border-radius: $b-border-radius;
      background-color: $b-form-control-bg;

      .#{$b-prefix}-button,
      .#{$b-prefix}-select .#{$b-prefix}-select__selection {
        border: none !important;
        background-color: transparent !important;
        color: inherit;
      }

      .#{$b-prefix}-button,
      .#{$b-prefix}-select__selection {
        margin: 0 -20px;
      }
    }

    &__prepend {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__append {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__prefix,
    &__suffix {
      display: inline-flex;
      white-space: nowrap;
      flex-shrink: 0;
      flex-wrap: nowrap;
      align-items: center;
    }

    &__prefix {
      > * {
        margin-right: 8px;
      }
    }

    &__suffix {
      > * {
        margin-left: 8px;
      }
    }
  }

  &__clear--icon,
  &__password--icon {
    cursor: pointer;
  }
}
