// 用于存放一些vertical 和 horizontal公用的样式
.#{$b-prefix}-menu-icon + span {
  margin-left: $b-menu-item-margin;
}

.#{$b-prefix}-menu-item-disabled:hover,
.#{$b-prefix}-submenu-disabled:hover {
  color: $b-menu-item-disabled !important;
  cursor: not-allowed !important;
}

.#{$b-prefix}-submenu-disabled:hover {
  span {
    color: $b-menu-item-disabled !important;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $b-animation-duration-slow $b-animation-ease-in-smooth;
}

.fade-leave-to {
  display: none;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.#{$b-prefix}-menu-item-disabled,
.#{$b-prefix}-menu-item-disabled.devui-menu-vertical
.#{$b-prefix}-menu-item-disabled.devui-menu-item-select
.#{$b-prefix}-submenu-disabled,
.#{$b-prefix}-submenu-disabled.devui-menu-vertical,
.#{$b-prefix}-submenu-disabled.devui-menu-item-select {
  color: $b-menu-item-disabled !important;
  cursor: not-allowed !important;
}
