@import '../../../../styles-var/devui-var.scss';

.#{$b-prefix}-table {
  &__thead {
    tr {
      border: none;
      background-color: $b-base-bg;

      th {
        display: table-cell;
        text-align: left;
        padding: 0;
        border: none;
        border-bottom: 1px solid $b-line;
        background-color: inherit;

        &.is-left {
          text-align: left;
        }

        &.is-center {
          text-align: center;
        }

        &.is-right {
          text-align: right;
        }
      }

      .operable:hover {
        background-color: $b-list-item-hover-bg;
      }

      .resizeable:hover {
        .resize-handle {
          border-right: 1px solid $b-line;
        }
      }

      .resizeable {
        .resize-handle:hover {
          border-right: 2px solid $b-form-control-line-active;
        }
      }

      .sort-active,
      .filter-active {
        background-color: $b-list-item-hover-bg;
        border-radius: $b-border-radius 0 0 $b-border-radius;
      }
    }

    .header-container {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 8px;

      .title {
        display: inline-block;
        max-width: calc(100% - 18px);
        font-size: $b-font-size;
        color: $b-text;
        font-weight: 700;
        line-height: 36px;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .resize-handle {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        cursor: col-resize;
      }

      .resize-overlay {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
      }
    }

    .#{$b-prefix}-table__checkable-cell .header-container {
      padding-left: 0;
    }
  }
}

.#{$b-prefix}-table {
  &--header-bg {
    thead.#{$b-prefix}-table__thead {
      tr {
        background: var(--b-list-item-hover-bg, #f2f5fc);
      }
    }
  }
}
