@import '../../styles-var/devui-var.scss';

.#{$b-prefix}-popover__icon-wrap {
  width: 16px;
  height: 16px;
  margin-right: 8px;

  .#{$b-prefix}-popover__icon.#{$b-prefix}-popover__icon--success > g {
    & > path {
      fill: $b-success;
    }

    & > circle,
    & > polygon {
      fill: $b-light-text;
    }
  }

  .#{$b-prefix}-popover__icon.#{$b-prefix}-popover__icon--warning > g {
    & > path {
      fill: $b-warning;
    }

    & > polygon {
      fill: $b-light-text;
    }
  }

  .#{$b-prefix}-popover__icon.#{$b-prefix}-popover__icon--info > g {
    & > g {
      fill: $b-info;
    }

    & > circle {
      fill: $b-light-text;
    }
  }

  .#{$b-prefix}-popover__icon.#{$b-prefix}-popover__icon--error > g {
    & > path {
      fill: $b-danger;
    }

    & > circle {
      fill: $b-light-text;
    }
  }
}
