@import '../../style/mixins/size';
@import '../../style/mixins/flex';
@import '../../styles-var/devui-var.scss';

.#{$b-prefix}-search {
  position: relative;
  @include flex;

  &:not(.#{$b-prefix}-search--error):not(.#{$b-prefix}-search--disabled):not(.#{$b-prefix}-search--focus):hover {
    .#{$b-prefix}-input {
      border-color: $b-form-control-line-hover;
    }
  }

  .#{$b-prefix}-input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $b-size-md;
    // 60px = clear + icon 的宽度
    padding: 4px 60px 4px 8px;
    font-size: $b-font-size-md;
    color: $b-text;
    box-sizing: border-box;
    border: 1px solid $b-form-control-line;
    border-radius: $b-border-radius;
    background-color: $b-form-control-bg;
    transition: border-color 0.3s $b-animation-ease-in-out-smooth;

    &__inner {
      padding: 0;
    }

    &__wrapper {
      border: none;
      padding: 0;
    }
  }

  &--focus {
    .#{$b-prefix}-input {
      border-color: $b-form-control-line-active;
    }
  }

  &__clear,
  &__icon {
    @include size($b-size-md, $b-size-md);
    @include flex;

    & svg {
      path {
        fill: $b-icon-fill;
      }
      @include size($b-font-size-md, $b-font-size-md);
    }
  }

  &__clear {
    position: absolute;
    right: $b-size-md;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 46%;
      border-left: 1px solid $b-dividing-line;
    }
  }

  &__icon {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }

  &--sm {
    .#{$b-prefix}-input {
      height: $b-size-sm;
      font-size: $b-font-size-sm;

      &.#{$b-prefix}-input--sm {
        padding: 0 48px 0 6px;
      }
    }

    .#{$b-prefix}-search__icon, .#{$b-prefix}-search__clear {
      @include size($b-size-sm, $b-size-sm);

      svg {
        @include size($b-font-size-sm, $b-font-size-sm);
      }
    }

    .#{$b-prefix}-search__clear {
      right: $b-size-sm;
    }
  }

  &--lg {
    .#{$b-prefix}-input {
      height: $b-size-lg;
      font-size: $b-font-size-lg;

      &.#{$b-prefix}-input--lg {
        padding: 4px 80px 4px 10px;
      }
    }

    .#{$b-prefix}-search__icon, .#{$b-prefix}-search__clear {
      @include size($b-size-lg, $b-size-lg);

      svg {
        @include size($b-font-size-lg, $b-font-size-lg);
      }
    }

    .#{$b-prefix}-search__clear {
      right: $b-size-lg;
    }
  }

  &--disabled {
    .#{$b-prefix}-input {
      cursor: not-allowed;
      color: $b-disabled-text;
      border-color: $b-disabled-line;
      background-color: $b-disabled-bg;
    }

    .#{$b-prefix}-search__icon {
      cursor: not-allowed;
    }

    .icon-search {
      color: $b-disabled-text !important;
    }
  }

  &--left {
    .#{$b-prefix}-input {
      padding-right: $b-size-md;
      padding-left: $b-size-md;

      &.#{$b-prefix}-input--lg {
        padding-right: $b-size-lg;
        padding-left: $b-size-lg;
      }

      &.#{$b-prefix}-input--sm {
        padding-right: $b-size-sm;
        padding-left: $b-size-sm;
      }
    }

    .#{$b-prefix}-search__clear {
      right: 0;

      &::after {
        display: none;
      }
    }

    .#{$b-prefix}-search__icon {
      left: 0;
    }
  }

  &--no-border {
    .#{$b-prefix}-input,
    .#{$b-prefix}-input__wrapper {
      background-color: unset;
    }

    &:not(.#{$b-prefix}-search--focus) .#{$b-prefix}-input:not(:hover, :focus, :active) {
      border: 1px solid transparent;
    }
  }
}
