// 基础色值

// 取色规则1： 所有使用颜色均需要在色板中选择
// 取色规则2： 除标签等用于功能分类及black,white的取色可以增加透明度(eg: rgba($b-white-5,0.3)，其余场景均不允许

$b-blue-5: #f2f5fc;
$b-blue-10: #e9edfa;
$b-blue-20: #beccfa;
$b-blue-30: #96adfa;
$b-blue-40: #7693f5;
$b-blue-50: #5e7ce0;
$b-blue-60: #526ecc;
$b-blue-70: #465eb8;
$b-blue-80: #3c51a6;
$b-blue-90: #344899;
$b-blue-100: #2a3c85;

$b-sky-5: #ebf6ff;
$b-sky-10: #d1ebff;
$b-sky-20: #b8e0ff;
$b-sky-30: #9ed5ff;
$b-sky-40: #85caff;
$b-sky-50: #6cbfff;
$b-sky-60: #4ea6e6;
$b-sky-70: #3590cc;
$b-sky-80: #207ab3;
$b-sky-90: #0f6999;
$b-sky-100: #035880;

$b-green-5: #edfff9;
$b-green-10: #cffcee;
$b-green-20: #acf2dc;
$b-green-30: #8be8cb;
$b-green-40: #6ddebb;
$b-green-50: #50d4ab;
$b-green-60: #3ac295;
$b-green-70: #27b080;
$b-green-80: #169e6c;
$b-green-90: #088c58;
$b-green-100: #007a45;

$b-lime-5: #f0ffe6;
$b-lime-10: #e5ffd4;
$b-lime-20: #d8fcc0;
$b-lime-30: #c5f2a7;
$b-lime-40: #b3e890;
$b-lime-50: #a6dd82;
$b-lime-60: #92cc68;
$b-lime-70: #7eba50;
$b-lime-80: #6ca83b;
$b-lime-90: #5e9629;
$b-lime-100: #518519;

$b-yellow-5: #fffbf0;
$b-yellow-10: #fff1c2;
$b-yellow-20: #ffe794;
$b-yellow-30: #ffdc66;
$b-yellow-40: #ffd138;
$b-yellow-50: #fac20a;
$b-yellow-60: #e3aa00;
$b-yellow-70: #cc9600;
$b-yellow-80: #b58200;
$b-yellow-90: #9e6f00;
$b-yellow-100: #875c00;

$b-orange-5: #fff3e8;
$b-orange-10: #ffe1c7;
$b-orange-20: #ffd0a6;
$b-orange-30: #ffbf85;
$b-orange-40: #ffad63;
$b-orange-50: #fa9841;
$b-orange-60: #e37d29;
$b-orange-70: #cc6414;
$b-orange-80: #b54e04;
$b-orange-90: #9e3f00;
$b-orange-100: #873400;

$b-red-5: #ffeeed;
$b-red-10: #ffd5d4;
$b-red-20: #ffbcba;
$b-red-30: #ffa4a1;
$b-red-40: #ff8b87;
$b-red-50: #f66f6a;
$b-red-60: #de504e;
$b-red-70: #c73636;
$b-red-80: #b02121;
$b-red-90: #991111;
$b-red-100: #820404;

$b-magenta-5: #ffedf3;
$b-magenta-10: #ffd4e3;
$b-magenta-20: #ffbad2;
$b-magenta-30: #ffa1c2;
$b-magenta-40: #fc86b0;
$b-magenta-50: #f3689a;
$b-magenta-60: #db4d83;
$b-magenta-70: #c4356e;
$b-magenta-80: #ad215b;
$b-magenta-90: #96114d;
$b-magenta-100: #800440;

$b-purple-5: #f5f0ff;
$b-purple-10: #e7d9ff;
$b-purple-20: #d8c2ff;
$b-purple-30: #caabff;
$b-purple-40: #bc94ff;
$b-purple-50: #a97af8;
$b-purple-60: #8a5ce0;
$b-purple-70: #6f42c9;
$b-purple-80: #572db3;
$b-purple-90: #3f1a9c;
$b-purple-100: #2a0c85;

$b-gray-5: #f5f5f5;
$b-gray-10: #ebebeb;
$b-gray-20: #e0e0e0;
$b-gray-30:  #d1d1d1;
$b-gray-40: #bdbdbd;
$b-gray-50: #8a8a8a;
$b-gray-60: #878787;
$b-gray-70: #707070;
$b-gray-80: #5c5c5c;
$b-gray-90: #474747;
$b-gray-100: #383838;

$b-slate-5: #f7f8fa;
$b-slate-10: #eef0f5;
$b-slate-20: #dfe1e6;
$b-slate-30: #d7d8da;
$b-slate-40: #cfd0d3;
$b-slate-50: #babbc0;
$b-slate-60: #9b9fa8;
$b-slate-70: #71757f;
$b-slate-80: #575d6c;
$b-slate-90: #323745;
$b-slate-100: #252b3a;

$b-zinc-5: #f8f8fa;
$b-zinc-10: #f2f2f3;
$b-zinc-20: #e2e2e6;
$b-zinc-30: #d5d5db;
$b-zinc-40: #c7c7d1;
$b-zinc-50: #aeaebd;
$b-zinc-60: #9696a3;
$b-zinc-70: #7a7a85;
$b-zinc-80: #63636b;
$b-zinc-90: #494952;
$b-zinc-100: #37373d;

$b-dark-gray-5: #16181a;
$b-dark-gray-10: #202124;
$b-dark-gray-20: #292a2e;
$b-dark-gray-30: #2e2f33;
$b-dark-gray-40: #323338;
$b-dark-gray-50: #393a3e;
$b-dark-gray-60: #4e5057;
$b-dark-gray-70: #696c75;
$b-dark-gray-80: #868a99;
$b-dark-gray-90: #acb0bd;
$b-dark-gray-100: #ced1db;

$b-dark-slate-5: #0e111a;
$b-dark-slate-10: #141721;
$b-dark-slate-20: #1a1e29;
$b-dark-slate-30: #232633;
$b-dark-slate-40: #2c303e;
$b-dark-slate-50: #33384b;
$b-dark-slate-60: #444b61;
$b-dark-slate-70: #626a85;
$b-dark-slate-80: #878ea8;
$b-dark-slate-90: #a3aac2;
$b-dark-slate-100: #c1c7db;

$b-dark-zinc-5: #1a1a1c;
$b-dark-zinc-10: #212124;
$b-dark-zinc-20: #28282b;
$b-dark-zinc-30: #2f2f33;
$b-dark-zinc-40: #353537;
$b-dark-zinc-50: #3d3d42;
$b-dark-zinc-60: #4b4b52;
$b-dark-zinc-70: #575861;
$b-dark-zinc-80: #767680;
$b-dark-zinc-90: #9898a3;
$b-dark-zinc-100: #b7b7c7;

$b-white-5: #ffffff;
$b-black-5: #000000;
