@import '../../../../styles-var/devui-var.scss';

.#{$b-prefix}-table__sort-clickable {
  flex: 1;
  height: 20px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 4px;
  vertical-align: -0.55em;
  cursor: pointer;
}

.#{$b-prefix}-table__sort-default {
  > svg g use {
    fill: $b-dividing-line;
  }

  > svg g polygon {
    fill: $b-icon-bg;
  }

  &:hover {
    > svg g use {
      fill: $b-icon-fill-active-hover;
    }
  }
}

.#{$b-prefix}-table__sort-asc,
.#{$b-prefix}-table__sort-desc {
  > svg g use {
    fill: $b-icon-fill-active;
  }

  > svg g polygon {
    fill: $b-icon-bg;
  }

  &:hover {
    > svg g use {
      fill: $b-icon-fill-active-hover;
    }
  }
}

.#{$b-prefix}-table__sort-asc {
  > svg g polygon:last-of-type {
    opacity: 0.3;
  }
}

.#{$b-prefix}-table__sort-desc {
  > svg g polygon:first-of-type {
    opacity: 0.3;
  }
}
