@import '../../styles-var/devui-var.scss';

$b-btn-sm-padding: var(--b-btn-sm-padding, 0 16px);
$b-btn-padding: var(--b-btn-padding, 0 20px);
$b-btn-lg-padding: var(--b-btn-lg-padding, 0 24px);

$font-size-map: (
  lg: $b-font-size-lg,
  md: $b-font-size-md,
  sm: $b-font-size-sm,
);
$radio-label-height-map: (
  lg: $b-size-lg,
  md: $b-size-md,
  sm: $b-size-sm,
);
$button-padding-map: (
  lg: $b-btn-lg-padding,
  md: $b-btn-padding,
  sm: $b-btn-sm-padding,
);
.#{$b-prefix}-radio-button {
  display: flex;
  align-items: center;
  position: relative;
  padding: $b-btn-padding;
  height: $b-size-md;
  font-size: $b-font-size-md;
  color: $b-text;
  cursor: pointer;
  border: 1px solid $b-line;
  user-select: none;
  @each $size in ('lg', 'md', 'sm') {
    &.#{$b-prefix}-radio-button--#{$size} {
      font-size: map-get($font-size-map, #{$size});
      padding: map-get($button-padding-map, #{$size});
      height: map-get($radio-label-height-map, #{$size});
      line-height: map-get($radio-label-height-map, #{$size});
    }
  }

  &__input {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
  }

  &.active {
    color: #ffffff;
    background-color: $b-brand;
    border-color: $b-brand;

    &.disabled {
      color: #ffffff;
      background-color: $b-icon-fill-active-disabled;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: $b-disabled-text;
    background-color: #ffffff;
    border-color: $b-disabled-line;
  }
}

.#{$b-prefix}-radio-group {
  &.is-row {
    .#{$b-prefix}-radio-button {
      border-left: none;

      &:first-child {
        border-top-left-radius: $b-border-radius;
        border-bottom-left-radius: $b-border-radius;
        border-left: 1px solid $b-disabled-line;
      }

      &:last-child {
        border-top-right-radius: $b-border-radius;
        border-bottom-right-radius: $b-border-radius;
      }
    }
  }

  &.is-column {
    .#{$b-prefix}-radio-button {
      width: 100%;
      border-top: none;

      &:first-child {
        border-top-left-radius: $b-border-radius;
        border-top-right-radius: $b-border-radius;
        border-top: 1px solid $b-disabled-line;
      }

      &:last-child {
        border-bottom-left-radius: $b-border-radius;
        border-bottom-right-radius: $b-border-radius;
      }
    }
  }
}
